@import url("mixins.less");
@import url("vars.less");
@import url("fonts.less");
@import url("splash.less");

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	background: black;
	font: @fontTrumpReg;
}

@map-move-duration: .5s;

#experiment-container {
	position: absolute;
	width: 100%;
	height: 100%;

	#corner-logo{
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#map-container {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 1;
		#map-div {
			position: absolute;
			left: 0;
			width: 30%;
			height: 100%;
		}

		.transition(all @map-move-duration @ease-out-ex);
		.transform(translateX(-30%));
		.state-map & {
			.transition(all @map-move-duration @ease-out-ex);
			.transform(translateX(0));
		}
	}

	#stereo-projection {
		z-index: -1;
		position: absolute;
		.transform(translateX(0));
		.transition(all @map-move-duration @ease-out-ex);
		.state-map & {
			.transition(all @map-move-duration @ease-out-ex);
			.transform(translateX(15%));
		}
	}

	.ui {
		display: block;
		z-index: 100;

		.state-splash & {
			display: none;
		}

		&#loader-view {
			position: absolute;
			top: 50px;
			right: 10px;
		}

		&#play-btn {
			text-transform: uppercase;
			font-size: 24px;
			position: absolute;
			right: 10px;
			top: 10px;
			&:hover {
				text-decoration: underline;
			}
			cursor: pointer;
		}

		&#map-toggle-button {
			position: absolute;
			top: 6px;
			left: 6px;
			padding: 2px 4px;

			background: white;
			cursor: pointer;

			font-family: Roboto, Arial, sans-serif;
			font-weight: 400;
			font-size: 11px;
			color: black;

		}
	}
}
