body, html{
	padding: 0;
	margin: 0;
}

#map-container{
	width: 100%;
	height: 100%;

	#pano-div{
		position: absolute;
		right: 0;
		width: 50%;
		height: 100%;
	}
	#map-div{
		position: absolute;
		left: 0;
		width: 50%;
		height: 100%;
	}
}