@import url("mixins.less");
@import url("vars.less");
@import url("fonts.less");
@import url("splash.less");

body, html {
	padding: 0;
	margin: 0;
	width: 100%;
	overflow: hidden;
	background: black;
	font: @fontTrumpReg;
}

img, p, span, h1, h6 {
	.user-select(none);
}

#experiment-container {
	position: absolute;
	width: 100%;
	height: 100%;

	#corner-logo {
		position: absolute;
		top: 10px;
		right: 10px;
	}

	#map-container {
		position: absolute;
		width: 30%;
		height: 100%;
		z-index: 1;
		#map-div {
			position: absolute;
			left: 0;
			width: 100%;
			height: 100%;
		}

		.state-map-transition();

		.transform(translateX(-100.5%));
		.state-map & {
			.transform(translateX(0));
		}

		.grabby-bar{
			z-index: 1000;
			position:absolute;
			right: 0;
			width: 24px;
			height: 100%;
			cursor: ew-resize;
			.user-select(none);

			.lines{
				position:absolute;
				top: 50%;
				padding-right: 5px;
				right: 0;
				div{
					float: right;
					height: 30px;
					margin-top: -15px;
					position: relative;
					padding: 2px;
					border-right: 2px groove #bbb;
				}
			}


		}

		.search-field {
			position: absolute;
			bottom: 0;
			width: 100%;
			height: 40px;
			z-index: 1;
			background: #333;

			.transform(translateY(41px));
			.transition(all 1s 2s @easeIn);

			img {
				position: absolute;
				right: 0;
				//				cursor: pointer;
				padding: 9px;
			}
			input {
				position: absolute;
				width: 90%;
				height: 100%;
				color: white;
				padding: 0 5%;
				background: #333;
				border: none;
				outline: none;
				z-index: 2;
			}

			.pac-container{
				.transition(all 1s 2s @easeIn);
				display: block !important;
				width: 100% !important;
				left: 0 !important;
				top: 0 !important;
				.transform(translateY(100%));
				z-index: -1;
			}

		}

		&:hover {
			.search-field {
				.transition(all .3s @easeIn);
				.transform(translateY(0));
			}
			.pac-container{
				.transition(all .3s @easeIn);
				.transform(translateY(0));
			}

		}

	}

	.preloader {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 0;
		.state-playing & {
			display: none;
		}

		.gif {
			position: absolute;
			width: 100%;
			height: 100%;
			background: black;
			opacity: .8;

			img {
				display: none;
				.state-loading & {
					display: block;
				}
				position: absolute;
				content: url('../images/450x450.gif');
				margin-left: -225px;
				margin-top: -225px;
				top: 50%;
				left: 50%;
				.state-map & {
					left: 65%;
				}
				.state-map-transition();
			}
		}

		span {
			position: absolute;
			display: block;
			width: 50px;
			margin-left: -25px;
			margin-top: -10px;
			top: 50%;
			left: 50%;
			.state-map & {
				left: 65%;
			}
			.state-map-transition();
			z-index: 10;
			color: white;
			font-family: @fontTrumpMed;
			font-size: 24px;
			text-transform: uppercase;
			text-align: center;

		}

		.user-select(none);
	}

	#projection-container {
		width: 100%;
		height: 100%;

		#stereo-projection {
			z-index: -1;
			position: absolute;
			.state-map-transition();

			.state-map & {
				.transform(translateX(15%));
			}
		}
	}

	.ui {
		display: block;
		z-index: 100;

		.state-splash & {
			display: none;
		}

		&#play-btn {
			position: absolute;
			top: 50%;
			width: 100px;
			height: 123px;
			margin-left: -25px;
			margin-top: -61px;
			cursor: pointer;

			background: url('../images/play_a.png');
			&:hover {
				background: url('../images/play_b.png');
			}

			.state-map-transition();

			.state-playing &, .state-loading &, .state-info & {
				display: none;
			}
			.state-map & {
				left: 65%;
			}

		}

		&#map-toggle-button {
			position: absolute;
			top: 6px;
			left: 6px;
			padding: 1px 4px;

			background: white;
			cursor: pointer;

			font-family: Roboto, Arial, sans-serif;
			font-weight: 400;
			font-size: 11px;
			color: black;

			border: 1px solid gray;
			border-radius: 1px;
		}
	}


	#info {
		.state-map-transition();	
		position: absolute;
		top: 50%;
		left: 50%;

		@size: 800px;
		width: @size;
		height: @size;
	 
		.transform(translateX(-50%) translateY(-50%));

		opacity: 0;
		.state-info & {
			opacity: 1;
		}

		.state-map & {
			left: 65%;
		}

		.contents{

			width: @size;
			height: @size;

			font-family: "LetterGothicStd-Slanted", "Lucida Console", Monaco, monospace;
			color: white;
			background: #444;
		 	border-radius: 50%;

			.transition(all .5s);
			.transform(scale(0.0001));
			.state-info & {
				.transition(all .5s);
				.transform(scale(1));
			}

			.actual-contents {
				position: absolute;
				top: 100px;
				left: 200px;

				h1{
					text-transform: uppercase;
					font-family: "TrumpGothicEastBold", Arial, Helvetica, sans-serif;
					font-size: 1.5em;
				}
				
				ul{
					list-style-type: none;
					margin: 0;
					padding: 0;

					li{
						display: block;
						clear: both;
						line-height: 67px;
						.icon{
							width: 100px;
							height: 67px;
							background-repeat: no-repeat;
							background-position: center center;
							margin-right: 50px;

							float: left;

							&.zero{
								background-image: url('../images/icons/icon_0.png');
							}
							&.one{
								background-image: url('../images/icons/icon_1.png');
							}
							&.two{
								background-image: url('../images/icons/icon_2.png');
							}
							&.three{
								background-image: url('../images/icons/icon_3.png');
							}
							&.four{
								background-image: url('../images/icons/icon_4.png');
							}
							&.five{
								background-image: url('../images/icons/icon_5.png');
							}
							&.six{
								background-image: url('../images/icons/icon_6.png');
							}
						}
					}
				}
			}
		}

	} 

	#info-btn {
		position: absolute;
		width: 40px;
		height: 40px;
		top: 22px;
		right: 22px;
		cursor: pointer;
		background: url('../images/info-icon.png') no-repeat center center;
		background-size: 110%;
		border-radius: 50%;
		
		opacity: .4;
		.transition(opacity .6s);

		&:hover{
			opacity: .7;
			.transition(opacity .3s);
		}

		.state-splash &{
			display:none;
		}
	}

	.state-map-transition() {
		@map-move-duration: .5s;

		.transition(all @map-move-duration @ease-out-ex);
		.state-map & {
			.transition(all @map-move-duration @ease-out-ex);
		}
		.state-grabbed &{
			.transition(none);
		}
	}
}

