body,
html {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
#map-container {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -ms-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
}
#map-container #map-div {
  position: absolute;
  left: 0;
  width: 30%;
  height: 100%;
}
.state-map #map-container {
  transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -ms-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  transform: translateX(-30%);
  -webkit-transform: translateX(-30%);
  -moz-transform: translateX(-30%);
  -ms-transform: translateX(-30%);
}
#stereo-projection {
  z-index: -1;
  position: absolute;
  transform: translateX(15%);
  -webkit-transform: translateX(15%);
  -moz-transform: translateX(15%);
  -ms-transform: translateX(15%);
  transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -ms-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
}
.state-map #stereo-projection {
  transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -webkit-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -moz-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  -ms-transition: all 0.3s cubic-bezier(0.15, 0.75, 0.49, 0.93);
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
}
#loader-view {
  position: absolute;
  top: 50px;
  right: 10px;
}
#play-btn {
  text-transform: uppercase;
  font-size: 24px;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  z-index: 100;
}
#play-btn:hover {
  text-decoration: underline;
}
#map-toggle-button {
  position: absolute;
  z-index: 100;
  top: 10px;
  left: 10px;
  background: white;
  color: black;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 10px;
}
